@charset "utf-8";
//种菜

.microactivity-vegetables{height: 100%; padding-top:0;}
@function temSize($num,$rate:1) {
    @return ceil($num /40*100)/100*$rate*1rem;
  }
  $rate:1;
@mixin base($rate:1) {
  //与数值相关的样式写这里：
   .xmas_box1{width:temSize(640,$rate);height:temSize(403,$rate); padding-top:temSize(20,$rate);
    .xmas_title1{margin:temSize(114,$rate) temSize(80,$rate) temSize(20,$rate) temSize(104,$rate);height:temSize(70,$rate); line-height:temSize(70,$rate); font-size:temSize(32,$rate);}
    .xmas_text1{margin:0 auto;font-size:temSize(24,$rate);height:auto;width:100%;line-height:temSize(34,$rate);max-height: temSize(102,$rate);
                span{min-width:temSize(500,$rate); }
    }
          
  }

  .grow_vegetables_btn_group1{width:temSize(560,$rate); height:temSize(190,$rate); margin-left:temSize(-280,$rate);margin-top:temSize(34,$rate);padding-top:0; top:temSize(856,$rate);
    .xmas_btn1_1,.xmas_btn1_2{width:temSize(272,$rate); height:temSize(134,$rate); font-size:temSize(28,$rate);}
    .xmas_btn1_1{ padding-right:temSize(30,$rate);}

  }
   .grow_vegetables_btn_group2{       
		  .xmas_btn1_2{width:temSize(312,$rate); height:temSize(134,$rate); font-size:temSize(28,$rate);}
   }
  .grow_vegetables_box2Outer{margin-top:temSize(-84,$rate);margin-bottom:temSize(-24,$rate);
    .xmas_box2{
      .xmas_head{width: temSize(102,$rate);height:temSize(102,$rate);margin-right:temSize(-80,$rate);}
	  .xmas_head_only{margin-left:temSize(-80,$rate);}
      .xmas_box2Inner{height:temSize(97,$rate);width:temSize(406,$rate);margin-top: temSize(5,$rate); line-height:temSize(16,$rate); padding-top:temSize(13.5,$rate);}
      .xmas_box2_textBox{font-size:temSize(18,$rate); padding-left:temSize(72,$rate);width: temSize(160,$rate);
        .xmas_box2_text1{width:temSize(200,$rate);  height: temSize(26.36,$rate);top: temSize(3,$rate);}
      }
    }
  }
    .xmas_box3{
      font-size:temSize(18,$rate);
      padding-left:temSize(72,$rate);
//        .xmas_box2_text2{font-size:temSize(64,$rate); padding:temSize(4) temSize(25,$rate); margin:0 temSize(20,$rate);}
    }
    .grow_vegetables_tree_box{height:temSize(547,$rate);width:temSize(547,$rate); margin: temSize(-14,$rate) auto;}
   .header_box_big{height:temSize(175,$rate);width:temSize(175,$rate);
     img , .header_border_big{margin-top: temSize(57,$rate);}
     &:before{margin: temSize(37,$rate) temSize(-161,$rate);width:temSize(184,$rate); height:temSize(124,$rate);}
   }
  .form_info_box{margin-top:temSize(86,$rate);  margin-bottom:temSize(35,$rate);
    .form_info_1{width:temSize(426,$rate);height:temSize(97,$rate);font-size: temSize(24,$rate); padding:temSize(20,$rate) 0 0 temSize(20,$rate); }
    .form_info_1_text{width: temSize(300,$rate);height:temSize(53,$rate);padding:0 temSize(8,$rate);margin-left:temSize(36,$rate);}
    .form_info_2_text{width:temSize(422,$rate);height:temSize(82,$rate);  margin: temSize(20,$rate) auto 0;padding: 0  temSize(20,$rate);font-size: temSize(24,$rate);}
    .form_btn_1{width:temSize(312,$rate);height:temSize(117,$rate);}

    // 用户同意条款
    .form_info_userterms{width:temSize(422,$rate);font-weight:bold;margin:temSize(4,$rate) auto 0;font-size:0;
       text-align:right;}
    .form_info_userterms_text{font-size:temSize(24,$rate);color:#333333;vertical-align: middle;}
    .form_info_userterms_text.span2{font-weight:bold;color:#78b1f4;}

  }
  // 水族馆同意用户条款
  .form_info_usertems2{
    width:temSize(422,$rate);height:temSize(82,$rate);font-weight:bold;margin:temSize(4,$rate) auto 0;font-size:0;
    text-align:right;
  }
  .form_info_usertems2{font-size: temSize(24,$rate);color:#333333;vertical-align: middle;}
  .form_info_usertems2.span2{font-weight:bold;color:#7ce3f6;}
   @content;

  //媒体查询写在这里  使用宽高比覆盖--仅适用微信内页开发
   @media screen and (min-aspect-ratio:414/672) { //iphone6/6p 414*672/375*603
    
 } 
   
   @media screen and (aspect-ratio:320/504) { // iphone5/小米2S/小米2A/三星galaxy S6  320*504/360*567
    
 }
   @media screen and (min-aspect-ratio:384/567) and (max-aspect-ratio:360/519){ //魅族MX2（无smartbar）/华为荣耀7/华为荣耀6 384*567/360*525/360*519


 }

   @media screen and (min-aspect-ratio:384/519) and (max-aspect-ratio:320/416){  //iphone4/魅族MX2（有smartbar）	 320*416/384*519
 }


}
$editrate:0.8;
$viewrate:1;
.microactivity-vegetables{
 @include base($editrate);
    //commonclass  与数值无关的样式写这里
     .grow_vegetables_btn_group1{position: absolute; left:50%;  z-index:2;
        .xmas_btn1_1,.xmas_btn1_2{color:#fff; @include border-radius-basic(5px);}
        .xmas_btn1_1{background:url("../img/grow_vegetables_1_button_1.png") $img-pozC;@include background-size100; float:left; text-align:right;}
        .xmas_btn1_2{background:url("../img/grow_vegetables_1_button_2.png") $img-pozC;@include background-size100;float:right;text-align:center; position:relative;
//             &:before{content:""; position:absolute; background:url("../img/xmas_icon2.png") $img-pozC;@include background-size100;}
        }
   }
   .grow_vegetables_btn_group2{ text-align:center;
          .xmas_btn1_1{display:none;}
		  .xmas_btn1_2{float:none;background:url("../img/grow_vegetables_1_button_4.png") $img-pozC;@include background-size100;}
   }
   .grow_vegetables_box2Outer{position:relative; z-index:2;
        .xmas_box2{ position: relative; text-align:center;
          .xmas_head{     display: inline-block; z-index: 3; position: relative;vertical-align: text-bottom;
            img{width:100%; height:100%;
              -webkit-mask: url("../img/grow_vegetables_1_header_mask.png");
              -webkit-mask-size: cover;
            }
            .head-border{ position:absolute;background:url("../img/grow_vegetables_1_header_box.png") $img-pozC;@include background-size100;width:100%;height:100%;top:0;left:0;}
          }
            .xmas_box2Inner{display:inline-block; vertical-align: text-bottom;z-index:2;text-align:left;  background:url("../img/grow_vegetables_1_bg_4.png") $img-pozC;@include background-size100;}
            .xmas_box2_textBox{ line-height: 120%; color:#ffffff; display:inline-block; width:100%;
                .xmas_box2_text1{display:inline-block;overflow-y: hidden;position: relative;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
            }
        }
    }
    .xmas_box3{
	  width:100%;
	  display:inline-block;
      line-height:120%;
      color:#ffffff;
    }
    .grow_vegetables_tree_box{ background: url("../img/grow_vegetables_1_bg_3.png") $img-pozC;@include background-size100;
    }
   .header_box_big{margin:0 auto;position: relative;
     img{width:100%;height:100%; -webkit-mask: url("../img/grow_vegetables_1_header_mask_2.png");-webkit-mask-size: cover;}
     .header_border_big{position:absolute;background:url("../img/grow_vegetables_1_header_box_2.png") $img-pozC;@include background-size100;width:100%;height:100%;top:0;left:0;}
     &:before{content:"";position: absolute;background:url("../img/grow_vegetables_1_bg_5.png") $img-pozC;@include background-size100; }
   }
   .form_info_box{
     .form_info_1{background:url("../img/grow_vegetables_1_bg_6.png") $img-pozC;@include background-size100; ;line-height: 200%; color: #ffffff; margin:0 auto;}
     .form_info_1_text{  display: inline-block; text-align:center; color:#fff;}
     .form_info_2_text{background:url("../img/grow_vegetables_1_bg_7.png") $img-pozC;@include background-size100;line-height: 200%;text-align:center;  color:#fff;}
	 .form_info_2_text::-webkit-input-placeholder,.form_info_1_text::-webkit-input-placeholder{ color:#fff; }
     .form_btn_1{ background:url("../img/grow_vegetables_1_button_3.png") $img-pozC;@include background-size100;  margin: auto; display: block;}
   }
   .xmas_box1{margin:0 auto;background:url("../img/grow_vegetables_1_bg_2.png") $img-pozC;@include background-size100;overflow: hidden; position:relative; z-index:2;
     .xmas_title1{text-align:center; font-weight:bold; overflow: hidden; color:#ffffff;}
     .xmas_text1{text-align:center; display:inline-block;overflow: hidden;
       span{ vertical-align:middle; color:#fff;}
     }
   }
   
    .grow_vegetables_singular{height:temSize(547,$rate);width:temSize(547,$rate); display: table-cell; vertical-align: middle;
    .grow_vegetables_pic{ width:temSize(240,$rate); height:temSize(258,$rate);background-repeat: no-repeat;background-position:center center; background-size: contain;margin: 0 auto;}
	    .vegetables1{background-image:url("../img/grow_gift_bg1.gif") ;}
        .vegetables2{background-image:url("../img/grow_gift_bg2.gif") ;}
        .vegetables3{background-image:url("../img/grow_gift_bg3.gif") ;}
        .vegetables4{background-image:url("../img/grow_gift_bg4.gif") ;}
        .vegetables5{background-image:url("../img/grow_gift_bg5.gif") ;}
        .vegetables6{background-image:url("../img/grow_gift_bg6.gif") ;}
        .vegetables7{background-image:url("../img/grow_gift_bg7.gif") ;}
        .vegetables8{background-image:url("../img/grow_gift_bg8.gif") ;}
        .vegetables9{background-image:url("../img/grow_gift_bg9.gif") ;}
	    .vegetables10{background-image:url("../img/wewee.png") ;}
     }
    .grow_vegetables_plural{height:temSize(547,$rate);width:temSize(547,$rate);
	.grow_vegetables_gif{width:83%; height:100%;  background-repeat: no-repeat; background-position: center center; background-size: contain;margin: 0 auto;}
	    .vegetables1{background-image:url("../img/grow_vegetables1.gif") ;}
        .vegetables2{background-image:url("../img/grow_vegetables2.gif") ;}
        .vegetables3{background-image:url("../img/grow_vegetables3.gif") ;}
        .vegetables4{background-image:url("../img/grow_vegetables4.gif") ;}
        .vegetables5{background-image:url("../img/grow_vegetables5.gif") ;}
    }
	.vegetables_bg{height:temSizebyEdit(1000); padding:temSizebyEdit(75) temSizebyEdit(37.5); background:url("../img/grow_vegetable_2_bg3.jpg") repeat top left;}
	.vegetables_boxOuter{width:100%;padding:temSizebyEdit(40) temSizebyEdit(25) temSizebyEdit(45);background:url("../img/grow_vegetable_2_bg11.png") repeat top left; margin:0 auto; border-radius:temSizebyEdit(20);
			.vegetables_box_1{ text-align:center;
				 .vegetables_title1{font-size:temSizebyEdit(40); color:#fff; margin-bottom:temSizebyEdit(26);}
			 }    
			.vegetables_box_2{
				.vegetables_text1{ height:temSizebyEdit(700);font-size:temSize(20,$rate); padding:temSize(12,$rate); color:#fff;}
			}  
    }
        //新加图片页
  .vegetables_box6Outer{
    width:100%;padding:temSizebyEdit(28) temSizebyEdit(25) temSizebyEdit(32);background:url("../img/grow_vegetable_2_bg11.png") repeat top left; margin:0 auto; border-radius:temSizebyEdit(20);margin-top: temSize(-75,$rate);
      .vegetables_box_3{ text-align:center;
				 .vegetables_title1{font-size:temSize(20,$rate); color:#fff; margin-top:temSize(26,$rate);}
			 }
       .vegetables_box_4{
         .imgbox{width: temSize(360,$rate);height: temSize(202,$rate);border: 2px solid #fff;background: #aaa;margin: 0 auto;border-radius: temSize(8,$rate);margin-top: temSize(28,$rate);
         
         }
         .imgbox-upload{width: temSize(360,$rate);height: temSize(202,$rate);border: none;margin: 0 auto;border-radius: temSize(8,$rate);margin-top: temSize(28,$rate);
          .imgdel{background:url("../img/vegetablr-imgs-del.png"); background-size: 100% 100%;width: temSize(42,$rate);height: temSize(42,$rate);margin-top: temSize(-21,$rate);margin-left: temSize(339,$rate);position: absolute;z-index: 2;}
          .uploadimg{overflow: hidden;width: 100%;height: 100%;border-radius: temSize(8,$rate);position: relative;z-index: 1;
            img{width: 100%;position: absolute;left: -99999px;right: -99999px;bottom: -99999px;top: -99999px;margin: auto;}
          }
         }
         .imgbox,.imgbox-upload{position: relative;
           .imgboxhold{background:url("../img/vegetable-place-bg.png"); background-size: 100% 100%;width: temSize(32,$rate);height: temSize(36,$rate);margin-top: temSize(82,$rate);margin-left: temSize(164,$rate);position: absolute;z-index: 2;}
         }
       } 
  }
    
  @media screen and (min-aspect-ratio:384/567) and (max-aspect-ratio:360/519){ //魅族MX2（无smartbar）/华为荣耀7/华为荣耀6 384*567/360*525/360*519
   // @include base(0.94*0.8);

  }
  @media screen and (min-aspect-ratio:384/519) and (max-aspect-ratio:320/416){
   // @include base(0.88*0.8);
  }
}
.microactivity-vegetables .preview{
  @include base($viewrate);  
  //仅预览页面使用样式写这里
  .grow_vegetables_foxed{position:fixed; top:0; left:0; width:100%; height:100%; z-index:121; }
  .grow_vegetables_mask{background: url("../img/grow_vegetable_2_bg12.png") no-repeat center center; background-size:100% 100%; height:temSize(2016,$rate); width:temSize(2016,$rate); position: absolute; left: 51%; top:0;z-index:199; margin-left:temSize(-1020,$rate);margin-top:temSize(-400,$rate);
  animation: donghua 1.5s linear 0.1s 1;  -webkit-animation: donghua 1.5s linear 0.1s  1; -webkit-transform: rotate(360deg);}
  @keyframes donghua {
	  0% { -webkit-transform: rotate(0deg);  background: rgba(0,0,0,0.3) url("../img/grow_vegetable_2_bg12.png") no-repeat center center; background-size:100% 100%;}
	   90% { -webkit-transform: rotate(324deg);  background: rgba(0,0,0,0.3) url("../img/grow_vegetable_2_bg12.png") no-repeat center center; background-size:100% 100%;}
	  100% { -webkit-transform: rotate(360deg); background:  url("../img/grow_vegetable_2_bg12.png") no-repeat center center; background-size:100% 100%;}
   }
  @-webkit-keyframes donghua {
	  0%{ -webkit-transform: rotate(0deg);  background: rgba(0,0,0,0.3) url("../img/grow_vegetable_2_bg12.png") no-repeat center center; background-size:100% 100%;}
	  90% { -webkit-transform: rotate(324deg);  background: rgba(0,0,0,0.3) url("../img/grow_vegetable_2_bg12.png") no-repeat center center; background-size:100% 100%;}
	  100% { -webkit-transform: rotate(360deg); background: url("../img/grow_vegetable_2_bg12.png") no-repeat center center; background-size:100% 100%;} 
  }
  .grow_vegetables_foxed{
	  .vegetables_pic{ width:temSize(188,$rate); height:temSize(258,$rate);background-repeat: no-repeat;background-position:center center; background-size:contain;    position: absolute; top:0; left: 50%;z-index:200; margin-left: temSize(-94,$rate);margin-top:temSize(480,$rate);}
	  .vegetables1{background-image:url("../img/grow_gift_bg1.png") ;}
	  .vegetables2{background-image:url("../img/grow_gift_bg2.png") ;}
	  .vegetables3{background-image:url("../img/grow_gift_bg3.png") ;}
	  .vegetables4{background-image:url("../img/grow_gift_bg4.png") ;}
	  .vegetables5{background-image:url("../img/grow_gift_bg5.png") ;}
	  .vegetables6{background-image:url("../img/grow_gift_bg6.png") ;}
	  .vegetables7{background-image:url("../img/grow_gift_bg7.png") ;}
	  .vegetables8{background-image:url("../img/grow_gift_bg8.png") ;}
	  .vegetables9{background-image:url("../img/grow_gift_bg9.png") ;}
   }
  .vegetables_bg{ height: auto; padding:temSize(40,$rate) 0;background:url("../img/grow_vegetable_2_bg3.jpg") repeat top left;}
  .vegetables_bg2{background:url("../img/grow_vegetable_2_bg3.jpg") repeat top left;}
  .vegetables_boxOuter{width:temSize(580,$rate); padding:temSize(32,$rate) temSize(20,$rate) temSize(36,$rate); background:#8e5826;margin:0 auto; border-radius:temSize(10,$rate);
    .vegetables_box_1{ text-align:center;
         .vegetables_title1{font-size:temSize(35,$rate); color:#fff; margin-bottom:temSize(26,$rate);}
     }    
    .vegetables_box_2{
        .vegetables_text1{height: auto; font-size:temSize(20,$rate); color:#fff;padding:0;}
    }
    .vegetables_box_4{
         .imgbox-upload{width: temSize(520,$rate);height: temSize(290,$rate);border: none;margin: 0 auto;border-radius: temSize(8,$rate);margin-top: temSize(28,$rate);
          .uploadimg{overflow: hidden;width: 100%;height: 100%;border-radius: temSize(8,$rate);position: relative;z-index: 1;
            img{width: 100%;position: absolute;left: -99999px;right: -99999px;bottom: -99999px;top: -99999px;margin: auto;}
          }
         }
       } 
  }
 .vegetables_box2Outer{ overflow:hidden;
        .vegetables_box2_1.list_box_bg{ background: url("../img/grow_vegetable_2_bg8.png") no-repeat center bottom; width: 100%; background-size: 100% temSize(242,$rate); padding-bottom: 1rem;}
		.vegetables_box2_1 .vegetables_item{ background:url("../img/grow_vegetable_2_bg4.png") repeat-y center center;  width:100%; background-size: 100% 100%;}
		.vegetables_box2_1.list_box_bg .vegetables_item:last-child{background:none;} 
		.vegetables_box2_1.list_box_bg .vegetables_item:nth-last-child(2){background:none;}
        .vegetables_box2_1.list{margin:0;color:#333;}
		.vegetables_item{  width: 100%; height:temSize(100,$rate); line-height:temSize(100,$rate); margin:0 auto; padding-left:temSize(60,$rate); color:#fff;}
		.vegetables_box2_1 .vegetables_item:last-child.first_item{ background:url("../img/grow_vegetable_2_bg5.png")  no-repeat center center;  width:100%;background-size: 100% 100%; padding-top:temSize(8,$rate);}
		.item-ranking,.item-text,.item-content,.item-pic{display:inline-block; vertical-align: middle;}
		.item-ranking{margin:0 temSize(32,$rate) 0 temSize(18,$rate);width:temSize(64,$rate); height:temSize(72,$rate); line-height:temSize(72,$rate); font-size:temSize(28,$rate);text-align:center;padding-left: temSize(4,$rate);}
		.item-pic{margin-right:temSize(20,$rate);}
		.item-text{font-size:temSize(24,$rate);
		     em{font-size:temSize(32,$rate);}
		}
		.item-content{ width:temSize(208,$rate); font-size:temSize(24,$rate);}
		.item-pic{ width:temSize(60,$rate);height:temSize(60,$rate);
                  img{@include face-radius;width:100%; height:100%;vertical-align:top;}
                  }
        .vegetables_box2_2{ width:100%; height:temSize(104,$rate);margin: -1px auto; background:url("../img/grow_vegetable_2_bg1.png") $img-pozC;@include background-size100;
                .ranking_arrow_left{width: 0;height: 0;position: absolute;left:0;}
                .ranking_arrow_right{width: 0;height: 0;position: absolute;right:0;}
        }

        //动态添加排名1，2，3的背景样式
        .ranking_bg1{ background:url("../img/ranking_bg1.png") $img-pozC; background-size:temSize(64,$rate) temSize(104,$rate);color:#8e5621;}
        .ranking_bg2{ background:url("../img/ranking_bg2.png") $img-pozC;background-size:temSize(64,$rate) temSize(104,$rate);color:#486684;}
        .ranking_bg3{background:url("../img/ranking_bg3.png") $img-pozC;background-size:temSize(64,$rate) temSize(104,$rate);color:#8c4b20;}
    }
  .vegetables_box3Outer{  background: url("../img/grow_vegetable_2_bg2.jpg") repeat center center;
		.vegetables_box2_3{ width:temSize(521,$rate); height:temSize(112,$rate); line-height:temSize(112,$rate); border-bottom:1px #43583b solid; margin: 0 auto; text-align: center; box-shadow: 0px 1px 0px #79a16b;
		   .vegetables_title1{font-size:temSize(32,$rate);  color:#fff;}
	   }
	  .vegetables_box2_4{ width:temSize(590,$rate); margin: 0 auto;
		  .vegetables_item2{ height:temSize(100,$rate); line-height: temSize(100,$rate); vertical-align: middle;padding: 0 temSize(10,$rate);position:relative;}
		  .item-content2{width:temSize(280,$rate); line-height:temSize(32,$rate); font-size:temSize(24,$rate);text-align: left;color:#fff;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
		        em{color:#deffdf;}
		  }
	   }
	  .item-pic,.item-content2,.item-note,.item-text{ display:inline-block; vertical-align: middle;}
	  .item-pic{ width:temSize(60,$rate);height:temSize(60,$rate);
					  img{@include face-radius;width:100%; height:100%;vertical-align:top;}
			   }
	  .item-text{ font-size:temSize(24,$rate);color:#deffdf;position:absolute;right:temSize(10,$rate);}
  }

    //圣诞选礼物弹框样式  by huijuan 20151208{
    .grow_choosegift{height:100%;width:100%;background:rgba(0,0,0,0.6) url("../img/grow_vegetable_2_bg9.png") no-repeat center temSize(72,$rate); background-size:95% auto;position:absolute;z-index:120;top:0;left:0;
        .grow_choosegift_head{height:temSize(38,$rate);width:temSize(353,$rate);background:url("../img/xmas_gift_title_bg.png") $img-pozC;@include background-size100;margin:temSize(65,$rate) auto 0 auto;}
        .grow_choosegift_item{float:left; margin:temSize(6,$rate) temSize(4,$rate); width:temSize(145,$rate); height:temSize(201,$rate);@include border-radius-base; position: relative;
              &:before{content:" ";width:temSize(145,$rate);height:temSize(201,$rate);background:url("../img/grow_vegetable_2_bg10.png") $img-pozC;@include background-size100;position:absolute;left:0;top:0;z-index:-1;}
        }
        .grow_choosegift_box{width:temSize(480,$rate);margin:temSize(200,$rate) auto 0; padding-left:temSize(12,$rate);}
        .vegetables1{background:url("../img/grow_gift_bg1.png") no-repeat temSize(32,$rate) temSize(20,$rate); background-size:60% auto;}
        .vegetables2{background:url("../img/grow_gift_bg2.png") no-repeat temSize(16,$rate) temSize(22,$rate); background-size:80% auto;}
        .vegetables3{background:url("../img/grow_gift_bg3.png") no-repeat temSize(20,$rate) temSize(36,$rate); background-size:75% auto;}
        .vegetables4{background:url("../img/grow_gift_bg4.png") no-repeat temSize(40,$rate) temSize(24,$rate); background-size:45% auto;}
        .vegetables5{background:url("../img/grow_gift_bg5.png") no-repeat temSize(24,$rate) temSize(32,$rate); background-size:68% auto;}
        .vegetables6{background:url("../img/grow_gift_bg6.png") no-repeat temSize(32,$rate) temSize(20,$rate); background-size:53% auto;}
        .vegetables7{background:url("../img/grow_gift_bg7.png") no-repeat temSize(24,$rate) temSize(24,$rate); background-size:70% auto;}
        .vegetables8{background:url("../img/grow_gift_bg8.png") no-repeat temSize(40,$rate) temSize(20,$rate); background-size:42% auto;}
        .vegetables9{background:url("../img/grow_gift_bg9.png") no-repeat temSize(20,$rate) temSize(48,$rate); background-size:73% auto;}
        
        .vegetables_name{display: inline-block; width: temSize(108,$rate);height:temSize(36,$rate); line-height: temSize(36,$rate); font-size:temSize(24,$rate); -webkit-border-radius: 20px; border-radius: 20px;  color: #fff;  margin-top: temSize(136,$rate); }
    }
    //} 圣诞选礼物弹框样式
	.page_box1_text{bottom:.3rem;}
    .grow_vegetables_box2Outer .xmas_box2 .xmas_box2_text1{line-height:160%;}
    .grow_vegetables_box2Outer .xmas_box2 .xmas_box2_textBox {width:auto;}
    //} 圣诞礼物动画样式
  @media screen and (min-aspect-ratio:384/567) and (max-aspect-ratio:360/519){ //魅族MX2（无smartbar）/华为荣耀7/华为荣耀6 384*567/360*525/360*519
    //@include base(0.94);
    
  }
  @media screen and (min-aspect-ratio:384/519) and (max-aspect-ratio:320/416){  //iphone4/魅族MX2（有smartbar）	 320*416/384*519
      .grow_choosegift{ background:rgba(0,0,0,0.6) url("../img/grow_vegetable_2_bg9.png") no-repeat center temSize(20); background-size:90% auto;
	       //.grow_choosegift_box{ width:temSize(472,$rate);margin-top:temSize(120,$rate);}
		   //.grow_choosegift_item { width:temSize(140,$rate); height:temSize(200,$rate);}	  
	  }
   // @include base(0.84);
    
 }


}
.microactivity-vegetables.xmas_bg{background: url("../img/grow_vegetables_1_bg_1.jpg") $img-pozC;@include background-size-cover;}
 .grow_vegetable_bgpic{ height: temSize(58,$rate); margin-top: temSize(-58,$rate); width: 100%; }
 .grow_vegetable_content{width: 100%; height: temSize(80,$rate); position:relative; top:temSize(12,$rate);background: url("../img/grow_vegetable_2_bg13.png") no-repeat center center; -webkit-background-size: 100% 100%; background-size: 100% 100%;}


 .aquarium .preview .grow_choosegift .chooseitem{    background:no-repeat center center;background-size: 100% 100%;}
 .aquarium .preview .grow_choosegift .grow_choosegift_item:before{display:none;}
 .aquarium .preview .xmas_title1{color:#724117 !important;margin-top:temSize(118,$rate) !important;}
 .aquarium .xmas_title1{color:#724117 !important;}
 .aquarium .preview .xmas_box1 .xmas_title1{margin-bottom:0.2rem !important;}
 .aquarium.microactivity-vegetables .xmas_box1{background:none;background-repeat:no-repeat;background-size:100% 100%;}
 .aquarium.microactivity-vegetables.xmas_bg{background:none;}
 .aquarium .grow_vegetable_content{background:none;background-repeat:no-repeat;background-position:center center;}
 .aquarium.microactivity-vegetables .header_box_big:before{background:none;background-repeat:no-repeat;background-size:100% 100%;}
 .aquarium .grow_choosegift{background:none;background-repeat:no-repeat;background-size:100% temSize(72,$rate);}
 .aquarium .microactivity-vegetables .preview .grow_choosegift .grow_choosegift_item:before{background:none;background-repeat:no-repeat;background-position:center center}
 .aquarium .grow_vegetables_mask{background:none;background-repeat:no-repeat;background-position:center center;}

  
  