/*微活动老带新模板5使用的样式 by 应乐超*/

$edit-size-rate: .84;
/* px to rem by edit*/
@function getRemSizeByEdit($n) {
  @return ceil($n /38.4 * 0.85 * $edit-size-rate*100)/100*1rem;
}

.section {
  width: 100%;
  height: 100%;
}

/* px to rem */
@function getRemSize($n) {
  @return ceil($n /38.4 * 0.85 *100)/100*1rem;
}



.oldNew_tempale5 {
  padding-top: getRemSize(15);
  .content1{
    position: relative;
    z-index: 2;
  }
  .content2{
    position: relative;
    z-index: 1;
    width:16rem;
    margin:0 auto;
  }
  .content3{
    position: relative;
    z-index: 2;
  }
  .content2_1{
    position: relative;
    z-index: 1;
  }
  .content2_2{
    position: relative;
    z-index: 3;
  }
  .content2_3{
    position: relative;
    z-index: 2;
  }

  .box1 {
    margin-top:0rem;
    width: getRemSize(590);
    height: getRemSize(240);
    background: url("../img/oldnew_temp5_bg1.png");
    background-size: 100% 100%;
    -webkit-background-origin: border-box;
    background-origin: border-box;
    z-index: 2;
  }

  .box2 {
    position: relative;
    width: getRemSize(742);
    height: getRemSize(401);
    @include transform-rotate(8deg);
    margin-top: -1.2rem;
    padding: .4rem;
   z-index:1;
    img {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      border: #c94b47 3px solid;
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/oldnew_temp5_bg2.png") no-repeat;
      background-size: 97%;
    }
  }
  .box3 {
    width: getRemSize(720);
    height: getRemSize(189);
    background: url("../img/oldnew_temp5_bg2_1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-origin: border-box;
    background-origin: border-box;
    z-index: 3;
    margin-top: -4rem

  }
  .box4 {
    position: relative;
    width: getRemSize(742);
    height: getRemSize(401);
    @include transform-rotate(-8deg);
    margin-top: -1.2rem;
    padding: .4rem;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      border: #c94b47 4px solid;
    }
    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/oldnew_temp5_bg2.png") no-repeat;
      background-size: 97%;
    }

  }
  .box5 {
    width: getRemSize(590);
    height: getRemSize(228);
    background: url("../img/oldnew_temp5_bg4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-origin: border-box;
    background-origin: border-box;
    z-index: 3;
    margin: getRemSize(-78) auto 0;
    padding:0.2rem 1.1rem 1rem 1rem;

    textarea {

      width:100%;
      height:100%;
      overflow:hidden;
      text-align: center;
      background: none;
      opacity:1;
      @extend .oldnew_smallFont;
      color: #614c3f;
      margin:8px auto 0;
	  line-height: normal;
    }

  }

  .box1 {
    text-align: center;
    input {
      width: getRemSize(400);
      text-align: center;
      background: none;
      opacity:1;
      position: absolute;
      left: getRemSize(180);
      top: getRemSize(40);
      @extend .oldnew_bigFont;


    }

  }
}

.oldNew_tempale5.edit ,.has-footer_cover .oldNew_tempale5 {
  padding-top: getRemSizeByEdit(15);
  height:getRemSizeByEdit(1170);
  .box1 {
    width: getRemSizeByEdit(590);
    height: getRemSizeByEdit(240);
    left: getRemSizeByEdit(170);
    top: getRemSizeByEdit(70);
    margin-top:0rem;
    input {
      width: getRemSizeByEdit(387);
      left: getRemSizeByEdit(180);
      top: getRemSizeByEdit(40);
    }
  }

  .box2 {
    width: getRemSizeByEdit(700);
    height: getRemSizeByEdit(401);
    margin-top: -1.5rem;
  }
  .box3 {
    width: getRemSizeByEdit(700);
    height: getRemSizeByEdit(189);
    margin-top: -4*$edit-size-rate*1rem;
  }
  .box4 {
    width: getRemSizeByEdit(700);
    height: getRemSizeByEdit(401);
    margin-top: -1.8rem;

  }

  .box5 {
    width: getRemSizeByEdit(590);
    height: getRemSizeByEdit(228);
    margin: auto;
    margin-top: -1.46rem;
    text-align: center;
  }

  textarea {
    font-size: .75rem;
  }
    .content2{
    width:13rem;
  }
}


@media screen and (max-height: 481px) {
//编辑：
  .oldNew_tempale5.edit ,.has-footer_cover .oldNew_tempale5 {
    padding-top: 0;
    height:0.85*getRemSizeByEdit(1170);
    .box1 {
      left: getRemSizeByEdit(170);
      input {
        left:3.48rem;
        top: .5rem;
      }
    }

    .box2 {
      margin-top: -2.5rem;
    }
    .box3 {
      margin-top: -4*$edit-size-rate*.85*1rem;
    }
    .box4 {
      margin-top: -2rem;
    }

    .box5 {
      margin:-2rem auto 0;
      text-align: center;

    }

    textarea {
    }
  }
//费编辑
  .oldNew_tempale5 {
    padding-top: 0;
    .box1 {
      margin-top:.2rem;
      left: getRemSize(170);
      top: getRemSize(70);
      input {
        left: getRemSize(180);
        top: getRemSize(58);
      }
    }

    .box2 {
      margin-top: -2rem;
    }
    .box3 {
      margin-top: -4rem;
    }
    .box4 {
      margin-top: -2rem;
    }

    .box5 {
      margin: getRemSize(-50) auto 0;
    }

    textarea {
    }
  }
}






















