 .bgImg {
        background: url("../img/temp3_bg.png") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
        height: 100%;
    }

    .acty3_box {
        width: 12.8rem;
        height: 18.3rem;
        margin: auto;
        background: url("../img/acty3_img_bg.png") no-repeat center 0.5rem;
        background-size: 94% 96%;
        text-align: center;
        overflow: hidden;
       
    }

        .acty3_box input.canEdit, .acty3_box input.canShow {
            height: 2.1rem;
            width: 7rem;
            line-height: 1rem;
            margin-top: 0.8rem;
            display: inline-block;
            font-size: 1.2rem;
            text-align: center;
            background: none;
			//font-family:"DFWAWASC",$font-family-base;
			color: #fff;
        }

        .acty3_box textarea.canEdit, .acty3_box textarea.canShow {
			overflow-y: hidden;
            display: inline-block;
			width: 70%;
			height: 12rem;
			background: none;
			font-size: 0.65rem;
			line-height: 1.4;
			margin-top: 2.1rem;
			//font-family:"DFWAWASC",$font-family-base;
			padding: 0.2rem;
			color: #333;
			opacity: 1;
        }

        .acty3_box textarea.canEdit, .acty3_box input.canEdit {
            border: #ccc 1px dashed;
			line-height:1.3;
        }

		.maxbox .acty3_box{
			width: 15.8rem;
			height: 23.3rem;
		}

		.maxbox .acty3_box input.canShow{
			margin-top: 1.2rem;
			font-size: 1.5rem;
		}

		.maxbox .acty3_box textarea.canShow{
			height: 14.8rem;
			margin-top: 3rem;
			font-size: 0.7rem;
		}