@charset "utf-8";
//舞蹈机构模板   by huijuan 20151215{

 .newSite_tem6{
&.newSite_Outer{background:#fff;}//定义背景色
//定义标题、按钮、icon基础样式 {
  .newSite_title_box{width:100%;height:temSize(180);line-height:temSize(180);font-size:temSize(48); text-align:center; color:#fff;
        span{@include text-shadow-base(0 temSize(4) temSize(10) rgba(4,0,0,.4));}
  }
  .newSite_btn_normol{background:#ff77b7;@include border-radius-basic(temSize(30)); text-align:center; border:none; color:#fff;}
  .newSite_item-button-right,.newSite_course_listItem .item-button-right,.newSite_aboutUs_listItem .item-divider{padding-right:temSize(240);
     .newSite_btn_normol{width:temSize(200);height:temSize(60);line-height:temSize(60);font-size:temSize(28); position:absolute; right:temSize(40);}
  }
  .item{padding-left:temSize(40);}
  .icon_local:before,.icon_phone:before{content:"";width:temSize(28);height:temSize(34); display:block;}
  .icon_local:before{background:url("../img/newSite_tem1_icon2.png") $img-pozC;@include background-size100; }
  .icon_phone:before{background:url("../img/newSite_tem1_icon3.png") $img-pozC;@include background-size100; }
  
//} 定义标题、按钮、icon基础样式 

//定义封面样式 {
  .newSite_cover_Outer{width:100%;min-height:temSize(478);padding:temSize(35) temSize(85) temSize(20);text-align:center; line-height:1.5; color:#fff;
     .newSite_Org_logo{height:temSize(150);
        img{width:temSize(145);height:temSize(145);@include face-radius;}
     }
     .newSite_Org_name{font-size:temSize(36);text-align:center;}
     .newSite_Org_slogan{font-size:temSize(24);margin-top:temSize(0);}
  }
//} 定义封面样式 
//定义动态样式 {
  .newSite_news_list{width:100%;min-height:temSize(150);padding:0 temSize(30) temSize(50) temSize(100); position:relative;
    .newSite_news_listItem{@include item_patch1;@include item_patch2; padding-top:temSize(30);background:#fff;
        .newSite_news_listIcon{width:temSize(70);height:temSize(70); position:absolute;left:temSize(-85);top:temSize(35); }
            &:nth-child(odd) .newSite_news_listIcon{background:url("../img/newSite_tem6_icon1.png") $img-pozC;@include background-size100;}
            &:nth-child(even) .newSite_news_listIcon{background:url("../img/newSite_tem6_icon2.png") $img-pozC;@include background-size100;}

        p{font-size:temSize(20); color:#aaa;}
        h2{@include item_patch1; font-size:temSize(28); color:#444;}
        .newSite_news_list_pic{margin-left:temSize(-10);
            li{margin:temSize(20) temSize(10) 0 temSize(10);width:temSize(125);height:temSize(125);float:left; background:#000; overflow:hidden;
            }
            li:only-child {width:temSize(320);height:temSize(240);
            }
        }
    }
  }
//}定义动态样式
//定义机构介绍样式 {
  .newSite_orgInfo_Outer{
    .newSite_title_box{background:url("../img/newSite_tem6_bg2.jpg") $img-pozC;@include background-size100;}
    .newSite_orgInfo_content{padding-bottom:temSize(85); width:temSize(560); margin:0 auto;
        .newSite_orgInfo_text_box{padding-top:temSize(45);font-size:temSize(32); line-height:1.5;}
        .newSite_orgInfo_pic_box{
            li{margin-top:temSize(40);width:temSize(560);height:temSize(420); background:#000; overflow:hidden;}
        }
    }
  }
//} 定义机构介绍样式 
//定义精品课程样式 {
  .newSite_course_Outer{
    .newSite_title_box{background:url("../img/newSite_tem6_bg3.jpg") $img-pozC;@include background-size100;}
    .newSite_course_list{
        .newSite_course_listItem{
            .item{@include item_patch1;background:#fff;font-size:temSize(24);@include opacity-base($opacity:100); @include transition-s1;
                h2{font-size:temSize(24);margin-bottom:temSize(10);color:#333;}
                p{@include item_patch1;color:#888; min-height:temSize(60);font-size:temSize(24);}
            }
            .item-button-right{padding-right:temSize(40);padding-bottom:temSize(110);background:#f6f6f6;
                .newSite_btn_normol{bottom:temSize(25);left:50%;margin-left:temSize(-100);}
            }
            .item-divider{background:#fff;font-size:temSize(28); padding-top:temSize(20);padding-bottom:temSize(20);color:#333;
                .ion-ios-arrow-down,.ion-ios-arrow-up{font-size:temSize(40);}
                .ion-ios-arrow-down:before,.ion-ios-arrow-up:before{color:#666;}   
            }
            .ng-hide{
                .item{@include opacity-base($opacity:0);}
            }
        }
    }
  }
//} 定义精品课程样式 
//定义名师风采样式 {
  .newSite_teacher_Outer{
    .newSite_title_box{background:url("../img/newSite_tem6_bg4.jpg") $img-pozC;@include background-size100;}
    .newSite_teacher_list{padding:temSize(60) 0;width:temSize(560);margin: 0 auto; background:#fff;
        .newSite_teacher_listItem{@include item_patch1;@include item_patch2;
            &> img:first-child{height:temSize(280);width:temSize(280);max-width:temSize(280);top:0;left:0;max-height:temSize(280);position:relative;}
            h2{font-size:temSize(28);height:temSize(40);line-height:temSize(40);width:temSize(280);position:absolute;top:temSize(240);background:rgba(0,0,0,.6);color:#fff;text-align:center; overflow:inherit;
               &:before{content:"";position:absolute;width:temSize(34); height:temSize(34); top:temSize(-34); left:50%; margin-left:temSize(-17); background:url("../img/newSite_tem6_icon3.gif") $img-pozC;@include background-size100;}
            }
            p{@include item_patch1; overflow:hidden; color:#fff; background:#bf6d93; line-height:1.5; @include opacity-base($opacity:0); height:0; padding:0 temSize(20); font-size:0; @include transition-base(opacity 1s ease-in-out);}
        }
        .newSite_teacher_listItem:nth-child(2n){min-height:0;
            &> img:first-child{left:temSize(280); position:absolute; top:temSize(-280);}
            h2{left:temSize(280); top:temSize(-40);}
        }
       .notDefault{
            p{padding:temSize(30) temSize(20); height:temSize(350);  font-size:temSize(24);  @include opacity-base($opacity:100);}
            h2{background:rgba(165,93,127,.7);
               &:before{display:none;}
            }
        }
       .notDefault+.newSite_teacher_listItem:nth-child(2n){
           &> img:first-child{left:temSize(280); position:absolute; top:temSize(-630);}
           h2{left:temSize(280); top:temSize(-390);}
       }
    }

  }
//} 定义名师风采样式
//定义联系我们样式 {
  .newSite_aboutUs_Outer{
    .newSite_title_box{background:url("../img/newSite_tem6_bg5.jpg") $img-pozC;@include background-size100;height:temSize(200);line-height:temSize(200);}
    .newSite_aboutUs_list{
        .newSite_aboutUs_listItem{
            .item{@include item_patch1;font-size:temSize(24); color:#888;                 
            }
            .item-divider{background:#f6f6f6;padding-top:temSize(20);padding-bottom:temSize(20); color:#333;
                  .newSite_btn_normol{top:50%; margin-top:temSize(-30);}
            }
            .item-icon-right{                 
                 .ion-ios-arrow-right:before{color:#ccc;font-size:temSize(40);}
            }
            .item-icon-left{padding-left:temSize(88);
                .icon_local,.icon_phone{left:temSize(40);}
            } 
            .item-icon-right{padding-right:temSize(140);}
            .newSite_item-note{font-size:temSize(20); color:#ccc; position:absolute; right:temSize(80);height:temSize(24); line-height:temSize(24); top:50%; margin-top:temSize(-12);}
        }
    }
  }
//} 定义联系我们样式 
//定义二维码样式 {
  .newSite_qrCode_Outer{padding:temSize(95) 0 temSize(70); background:url("../img/newSite_tem6_bg6.jpg") $img-pozC;@include background-size100;color:#fff;
    .newSite_qrCode{width:temSize(580);background:none; margin:0 auto;padding:0 0 temSize(20); text-align:center;
        .newSite_Org_name{font-size:temSize(40); margin-bottom:temSize(25);}
        .newSite_Org_tel{font-size:temSize(32); margin-bottom:temSize(50);
            a{color:#fff;}   
        }
        .icon_phone{display:none;}
        .newSite_qrCode_box{width:temSize(480); height:temSize(480); margin:0 auto temSize(60);position:relative;
         .qrcode_logo{position:absolute; top:50%; left:50%;width:temSize(110); height:temSize(110); margin:temSize(-55) 0 0 temSize(-55);
              img{width:100%; height:100%; @include face-radius;}
        }
        .qrcode{width:temSize(480); height:temSize(480);
            img{width:100%; height:100%;}
        } 
        }  
        .newSite_qrCode_text{font-size:temSize(28);color:#fff;}
  }
}
//} 定义二维码样式 

//锚点菜单 {
  .newSite_menuOuter{
      .newSite_menu_btn{width:temSize(80); height:temSize(80);background:rgba(0,0,0,.5) url("../img/newSite_tem1_icon4.png") $img-pozC;@include background-size100;position:absolute;bottom:temSize(20);right:temSize(20);@include border-radius-basic(10px);z-index:6;}
      .newSite_menu_box{width:temSize(166); background:rgba(0,0,0,.5);padding:0 temSize(10);@include  transition-base(all .5s ease-in-out); @include opacity-base($opacity:100);position:absolute;bottom:temSize(120);right:temSize(20);z-index:5;
            span{display:block; height: temSize(90);width:100%; line-height: temSize(90);font-size:temSize(28);color:#fff; text-align:center; border-top:rgba(255,255,255,.4) 1px solid; @include  transition-base(all .5s ease-in-out);
                &:first-child{border-top:none;}
            }
      }
  }
  .newSite_menuClosed{
      .newSite_menu_box{@include opacity-base($opacity:0);
        span{height:0;}
      }
  }
  
//} 锚点菜单 

//遮罩-预约报名 {
  .newSite_PopupForm{position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index:7;background: #fff;padding: 0 temSize(40);
    .newSite_PopupOuter{position: relative;
      .newSite_Popup_closed{width:temSize(116); height:temSize(116);background:url("../img/icon4.png") no-repeat temSize(40) center;@include background-size(temSize(36),temSize(36)); position: absolute;top:temSize(40);right: 0;}
    }
    .newSite_Popup_content{padding:temSize(116) 0 0;
      .newSite_Popup_title{margin:0 auto temSize(90); font-size: temSize(60);color: #e54d95;text-align: center;}
      .newSite_Popup_text,.newSite_Popup_select{width:100%;height:temSize(80);@include border-radius-basic(5px); border:#ccc 1px solid;@extend .transparencyTextBox;font-size:temSize(28);}
      .newSite_Popup_text{margin-bottom:temSize(40); text-align:left; padding:0 temSize(20) 0 temSize(102);}
      .newSite_Popup_select{-webkit-appearance:none;margin-bottom:temSize(55); padding:0 temSize(60) 0 temSize(102); background:url("../img/newSite_tem3_icon2.png") no-repeat temSize(506) center;@include background-size(temSize(30),temSize(18));}
      .newSite_Popup_submit{width:100%;height:temSize(100);@include border-radius-basic(5px); background:#ff77b7; color:#fff; line-height:temSize(100); text-align:center; font-size:temSize(36);}
      dd{position: relative;}
      dd:before{content: "";display: block;width: temSize(82);height: temSize(50);position: absolute;top: temSize(15);left: 0;border-right: 1px solid #cfcfcf;}
      dd:nth-child(2):before{background: url("../img/newSite_tem3_icon3.png") $img-pozC;@include background-size(temSize(38),temSize(49));}
      dd:nth-child(3):before{background: url("../img/newSite_tem3_icon4.png") $img-pozC;@include background-size(temSize(38),temSize(49));}
      dd:nth-child(4):before{background: url("../img/newSite_tem3_icon5.png") $img-pozC;@include background-size(temSize(38),temSize(49));}
      dd:last-child:before{display: none;}
    }
  }

//} 遮罩-预约报名 


  //媒体查询写在这使用宽高比覆盖--仅适用微信内页开发
   @media screen and (min-aspect-ratio:414/672) { //iphone6/6p 414*672/375*603    
 } 
   
   @media screen and (aspect-ratio:320/504) { // iphone5/小米2S/小米2A/三星galaxy S6  320*504/360*567    
 }
   @media screen and (min-aspect-ratio:384/567) and (max-aspect-ratio:360/519){ //魅族MX2（无smartbar）/华为荣耀7/华为荣耀6 384*567/360*525/360*519
        .newSite_PopupForm .newSite_Popup_content .newSite_Popup_select{background-position:temSize(562) center;}
 }

   @media screen and (min-aspect-ratio:384/519) and (max-aspect-ratio:320/416){  //iphone4/魅族MX2（有smartbar）	 320*416/384*519
     .newSite_PopupForm .newSite_Popup_content .newSite_Popup_select{background-position:temSize(648) center;}
     .newSite_news_list .newSite_news_listItem .newSite_news_list_pic{width: 14.5rem;}
 }
}   


