@charset "utf-8";
//微店-口碑
@function temSize($num, $rate: 1) {
    @return ceil($num /40*100)/100*$rate*1rem;
}

@function hotSize($num) {
    @return ceil($num /40 * 100)/100*1rem;
}

//三通项目注册登录界面
.user-login1 {
    width: 100%;
    height: 100%;
    background: url(../img/user-login-bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    .logo-box {
        width: hotSize(176);
        height: hotSize(156);
        background: url(../img/user-login-logo.png) no-repeat center center;
        background-size: 100%;
        margin: hotSize(80) auto hotSize(165) auto;
    }
    .warn-info {
        position: absolute;
        top: hotSize(330);
        font-size: hotSize(24);
        text-align: center;
        color: #fff;
        width: 100%;
    }
    .input-bg {
        width: 100%;
        height: hotSize(100);
        position: relative;
        background: rgba(159, 40, 26, 0.6);
        .input-icon {
            width: hotSize(28);
            height: hotSize(36);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: hotSize(32);
            left: hotSize(84);
        }
        .icon-phone {
            background: url(../img/user-login-icon2.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .icon-shield {
            background: url(../img/user-login-icon3.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .icon-lock {
            background: url(../img/user-login-icon1.png) no-repeat center center;
            background-size: 100% 100%;
        }
        .input-ctrl {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            font-size: hotSize(28);
            color: #fff;
            height: 100%;
            width: 100%;
        }
        .send-box,
        .send-box2 {
            width: hotSize(160);
            height: hotSize(60);
            position: absolute;
            top: hotSize(20);
            right: hotSize(20);
            background-color: #fff;
            color: #fd4c29;
            text-align: center;
            border-radius: hotSize(80);
            font-size: hotSize(24);
            line-height: hotSize(60);
            overflow: hidden;
        }
        .send-box2 {
            color: #ccc;
        }
        input::-webkit-input-placeholder {
            color: #ff978a;
            font-size: hotSize(24);
        }
    }
    .input-line {
        border-top: 1px solid #fe6f4c;
        border-bottom: 1px solid #fe6f4c;
    }
    .btn-submit {
        width: hotSize(480);
        height: hotSize(90);
        background-color: #fff;
        border-radius: hotSize(80);
        margin: hotSize(80) auto hotSize(70) auto;
        font-size: hotSize(28);
        color: #fd4c29;
        letter-spacing: 5px;
        text-align: center;
        line-height: hotSize(90);
        overflow: hidden;
        box-shadow: 0px 10px 6px rgba(256, 50, 41, 0.6);
    }
    .warn-info-tel {
        font-size: hotSize(20);
        text-align: center;
        color: #fff;
    }
    .warn-info-tel a {
        color: #fff
    }
    .warn-info-repwd {
        font-size: hotSize(24);
        text-align: center;
        color: #fff;
        .info1 {
            opacity: 0.6;
        }
        em {
            font-weight: bold;
        }
    }
    .terms {
        color: #fff;
        font-size: temSize(22);
        text-align: center;
        span {
            font-weight: bold;
            text-decoration: underline;
            margin-left: temSize(8);
        }
    }
}

//--------------------------------end
//媒体查询写在这使用宽高比覆盖--仅适用微信内页开发-----
@media screen and (min-aspect-ratio:414/672) {
    //iphone6/6p 414*672/375*603    
}

@media screen and (aspect-ratio:320/504) {
    // iphone5/小米2S/小米2A/三星galaxy S6  320*504/360*567    
}

@media screen and (min-aspect-ratio:384/567) and (max-aspect-ratio:360/519) {
    //魅族MX2（无smartbar）/华为荣耀7/华为荣耀6 384*567/360*525/360*519
    .Polite_invitation .card_share,
    .Polite_invitation .Vip_list {
        margin: hotSize(30) auto 0 auto;
    }
    .foot_btn_back {
        height: 1.8rem;
        line-height: 1.8rem;
    }
    .mobile_register {
        .register_acty_phone {
            margin-top: hotSize(80);
        }
        .register_acty_box2 {
            top: hotSize(680);
        }
    }
    .exchange_code .Vip_list {
        top: hotSize(750);
    }
    .Polite_invitation_receive .message {
        margin-top: 0.5rem;
    }
    //三通项目注册登录界面
    .user-login1 {
        .logo-box {
            margin: hotSize(50) auto hotSize(100) auto !important;
        }
        .warn-info {
            top: hotSize(250) !important;
        }
        .btn-submit {
            margin: hotSize(80) auto !important;
        }
    }
}

@media screen and (min-aspect-ratio:384/519) and (max-aspect-ratio:320/416) {
    //iphone4/魅族MX2（有smartbar）	 320*416/384*519
    .Polite_invitation .qrcode_card {
        height: hotSize(610);
        .qrcode_card_bg {
            height: hotSize(190);
            background-size: hotSize(480) hotSize(190);
            padding-top: 0;
        }
        .qrcode_box {
            margin-top: 0;
            width: hotSize(400);
            height: hotSize(400);
        }
        a {
            bottom: hotSize(10);
        }
    }
    .Polite_invitation .card_share,
    .Polite_invitation .Vip_list {
        margin: hotSize(25) auto 0 auto;
    }
    .Polite_invitation_receive .qrcode_card {
        height: hotSize(730);
        .qrcode_box {
            margin-top: 0;
            width: hotSize(400);
            height: hotSize(400);
        }
    }
    .Polite_invitation_receive .message {
        margin-top: hotSize(10);
    }
    .messageSet {
        margin: 0.9rem auto 0;
    }
    .text_box3 {
        margin-top: 0rem;
    }
    .foot_btn_back {
        height: 2.0rem;
        line-height: 2.0rem;
        font-size: .7rem;
    }
    .mobile_register {
        .register_acty_phone {
            margin-top: hotSize(80);
        }
        .register_acty_box2 {
            top: hotSize(600);
        }
    }
    .exchange_code .Vip_list {
        top: hotSize(700);
    }
    //三通项目注册登录界面
    .user-login1 {
        .logo-box {
            margin: hotSize(40) auto hotSize(90) auto !important;
        }
        .warn-info {
            top: hotSize(220) !important;
        }
        .btn-submit {
            margin: hotSize(50) auto hotSize(30) auto !important;
        }
    }
}

.micro-shop-koubei {
    ion-footer-bar {
        padding: 0;
    }
    .mar-t-15 {
        margin-top: temSize(15);
    }
    .mar-t-20 {
        margin-top: temSize(20);
    }
    .gray-bg {
        background: #dfe3ed;
    }
    .box {
        height: temSize(80);
        width: 100%;
        font-size: temSize(24);
        color: #333;
        padding-left: temSize(40);
        padding-right: temSize(48);
        line-height: temSize(80);
        overflow: hidden;
        background: #fff;
        border-bottom: 1px solid #cbced7;
        position: relative;
    }
    .box-left {
        height: temSize(80);
        float: left;
        font-size: temSize(24);
    }
    .box-c {
        width: 100%;
    }
    .box-right {
        width: temSize(330);
        height: temSize(80);
        padding-top: 0;
        float: right;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: temSize(24);
    }
    .icon-right {
        height: temSize(20);
        width: temSize(11);
        background: url("../img/micro-ico-back.png") no-repeat 100%;
        position: absolute;
        top: temSize(30);
        right: temSize(20);
    }
    //地址选择
    .swiper {
        // display: flex;
        font-size: 0;
        position: absolute;
        bottom: 0;
        height: temSize(490);
        width: 100%;
        z-index: 110;
        background-color: #fff;
    }
    .swiper-container {
        display: inline-block;
        width: 33.3%;
        height: temSize(490);
        overflow: hidden;
        position: relative;
        bottom: 0;
        color: #666;
    }
    .swiper-slide-active {
        color: #333;
    }
    .swiper-wrapper {
        font-size: temSize(28);
        line-height: temSize(70);
        text-align: center;
    }
    .swiper-container:after {
        content: "";
        border-bottom: 1px #ddd solid;
    }
    .swiper:after {
        content: "";
        border-bottom: 1px #ddd solid;
        background-color: #efefef;
        border-top: 1px #ddd solid;
        width: 200%;
        height: temSize(70);
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        z-index: 0;
        margin-top: temSize(-35);
    }
    //下拉选择样式覆盖
    .Select_list {
        padding: 0;
        background-color: #dfe3ed;
        span {
            height: temSize(100);
            line-height: temSize(100);
            border-bottom: 1px solid #cbced7;
        }
        span:last-child {
            border-top: 1px solid #cbced7;
            margin-top: temSize(20);
        }
    }
}

//口碑创建店铺页面
.micro-koubei-create-shop {
    .first-box {
        margin-top: temSize(16);
    }
    .upload-image {
        background-color: #fff;
        padding-left: 0.75rem;
    }
    .icon-right {
        height: temSize(20);
        width: temSize(11);
        background: url("../img/micro-ico-back.png") no-repeat 100%;
        position: absolute;
        top: temSize(30);
        right: temSize(20);
    }
    .agree-items {
        font-size: temSize(24);
        color: #666;
        padding: 0 temSize(40);
        margin-top: temSize(32);
    }
    .agree-item {
        color: #5396d2;
    }
    .check {
        display: inline-block;
        height: temSize(25);
        width: temSize(25);
        vertical-align: text-top;
        margin-right: temSize(10);
    }
    .check-box {
        border: 1px solid #666;
        @include border-radius-basic(temSize(2));
    }
    .icon-checked {
        background: url("../img/micro_shop_check.png") center center no-repeat;
        @include background-size100;
        border: none;
        display: inline-block;
    }
    .guide-words1 {
        color: #ff6622;
    }
    .guide-words2 {
        color: #ff6622;
        font-size: temSize(22);
        padding: 0 temSize(40);
        margin-top: temSize(10);
    }
    .submit {
        height: temSize(90);
        width: temSize(480);
        line-height: temSize(90);
        font-size: temSize(28);
        color: #fff;
        background-color: #ff6622;
        margin: 0 auto;
        text-align: center;
        margin-top: temSize(50);
        @include border-radius-basic(temSize(45));
    }
    .icon-success {
        width: temSize(140);
        height: temSize(140);
        background: url("../img/microshop_withdraw_success.png") $img-pozC;
        background-size: 100% 100%;
        margin: 0 auto;
        display: block;
        margin-top: temSize(100);
        margin-bottom: temSize(30);
    }
    .icon-wait {
        width: temSize(140);
        height: temSize(140);
        background: url("../img/microshop_withdraw_wait.png") $img-pozC;
        background-size: 100% 100%;
        margin: 0 auto;
        display: block;
        margin-top: temSize(100);
        margin-bottom: temSize(30);
    }
    .apply-result {
        font-size: temSize(26);
        color: #333;
        margin-bottom: temSize(18);
    }
    .apply-tip {
        font-size: temSize(26);
        color: #8e8e8e;
    }
    .fail-tip {
        margin-top: temSize(100);
        margin-bottom: temSize(60);
        font-size: temSize(28);
        color: #333;
    }
    .koubei-qrcode-box {
        width: temSize(168);
        height: temSize(168);
        background-color: #eceef4;
        @include border-radius-basic(5px);
        padding: temSize(10);
        margin: 0 auto;
    }
    .koubei-qrcode {
        width: temSize(148);
        height: temSize(148);
        background: url("../img/koubei-qrcode.png") $img-pozC;
        background-size: 100% 100%;
        display: inline-block;
    }
    .code-tip {
        font-size: temSize(20);
        color: #666;
        margin-top: temSize(20);
    }
}

//口碑定位页面
.koubei-locate {
    background-color: #dfe3ed;
    .introduction {
        padding: temSize(20) temSize(40);
        padding-right: 0;
    }
    .title {
        font-size: temSize(24);
        color: #f62;
        margin-bottom: temSize(20);
    }
    .tip {
        font-size: temSize(20);
        color: #666;
        margin-bottom: temSize(16);
    }
    .locate-container {
        padding-right: temSize(20);
    }
    .locate-title {
        color: #666;
    }
    .locate-btn {
        width: temSize(71);
        height: temSize(40);
        font-size: temSize(20);
        color: #ccc;
        background-color: #efefef;
        margin-top: temSize(20);
        line-height: temSize(40);
        text-align: center;
    }
    .enable {
        background-color: #f62;
    }
    #map {
        height: temSize(504);
    }
    .address-btn {
        position: absolute;
        bottom: temSize(490);
        background: #fff;
        z-index: 110;
        height: temSize(88);
        // display: flex;
        width: 100%;
        line-height: temSize(88);
        border-bottom: 1px solid#ccc;
        color: #333;
        font-size: 0;
        .btn {
            font-size: temSize(28);
            display: inline-block;
            width: 49%;
        }
        .btn-cancel {
            text-align: left;
            padding-left: temSize(80);
        }
        .btn-save {
            color: #f62;
            text-align: right;
            padding-right: temSize(80);
        }
    }
    .amap-copyright {
        display: none !important;
    }
    .save {
        width: 100%;
        text-align: center;
        height: temSize(90);
        line-height: temSize(90);
        font-size: temSize(28);
        background-color: #f62;
        color: #fff;
    }
}

//商品管理页
.kbmana_order_quest {
    font-size: .56rem;
    color: #666;
    height: temSize(80);
    margin-top: temSize(16);
    border-bottom: 1px solid #cbced7;
    line-height: temSize(80);
    padding-left: temSize(20);
    background-color: #fff;
    position: relative;
    .zhushi {
        font-size: 0.4rem;
    }
    .sync {
        height: temSize(60);
        width: temSize(160);
        line-height: temSize(60);
        font-size: temSize(22);
        color: #ff6622;
        text-align: center;
        position: absolute;
        right: temSize(20);
        top: temSize(10);
        border: 1px #f62 solid;
        border-radius: temSize(30);
    }
    .nosync {
        border-color: #aeb0b3;
        color: #aeb0b3;
    }
}

.kbmana_order_questArrow:after {
    content: "";
    display: block;
    width: temSize(20);
    position: absolute;
    height: temSize(20);
    border-right: 1px #cccccc solid;
    border-top: 1px #cccccc solid;
    transform: rotate(45deg);
    -ms-transform: rotate(7deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: .75rem;
    right: 0.4rem;
}

.syncShow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 130;
    .migration_box {
        width: 8rem;
        height: 6rem;
        background-color: white;
        border-radius: 0.5rem;
        top: 50%;
        position: relative;
        margin: 0 auto;
        margin-top: -3rem;
    }
    .migration_success {
        position: relative;
        top: 1.65rem;
        margin: 0 auto;
        width: 1.8rem;
        height: 1.3rem;
        background: url(../img/migration_success.png) no-repeat center center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }
    .load_reminds2 {
        font-size: 0.6rem;
        text-align: center;
        position: relative;
        top: 2.3rem;
        color: #333333;
    }
    .short_loading {
        position: relative;
        top: 1.65rem;
        margin: 0 auto;
        width: 3rem;
        height: 3rem;
        background: url(../img/shortLoading-icon.png) no-repeat center center;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        -webkit-animation: circle 1s infinite linear;
        -moz-animation: circle 1s infinite linear;
        animation: circle 1s infinite linear;
    }
}

// 商品订单页


.micro-shop-koubei .micro-shop-common1-nosth .text2 {
    top: 7.33rem;
}

//用户条款
.koubei-terms {
    .terms_content {
        top: 0;
    }
    .terms_title {
        line-height: temSize(60);
        font-size: temSize(28);
    }
}

//用户须知
.user_terms_popup {
    .question:first-child {
        margin-top: 0;
    }
    .question {
        font-size: temSize(22);
        color: #ff6622;
        margin-top: temSize(50);
    }
    .answer {
        font-size: temSize(22);
        color: #333;
    }
    .xb-qrbox {
        width: temSize(182);
        height: temSize(182);
        background-color: #fff;
        padding: temSize(20);
        margin: 0 auto;
        margin-top: temSize(34);
        @include border-radius-basic(temSize(10));
    }
    .xb-qrcode {
        display: block;
        width: temSize(142);
        height: temSize(142);
        background: url("../img/default_qrcode.jpg") $img-pozC;
        @include background-size100;
    }
    .qrcode-tips {
        margin-top: temSize(10);
        font-size: temSize(20);
        text-align: center;
        color: #666;
    }
}

//登陆注册
.koubei-login {
    .reg {
        text-align: right;
        color: #fff;
        font-size: temSize(24);
        padding-right: temSize(20);
        margin-top: temSize(20);
    }
}

.micro-koubei-syn {
    .list {
        height: temSize(100);
        line-height: temSize(100);
        font-size: temSize(28);
        width: 100%;
        color: #333;
        padding-left: temSize(40);
        padding-right: temSize(20);
        overflow: hidden;
        background: #fff;
        border-bottom: 1px solid #cbced7;
        margin-bottom: 0;
    }
    .noShopTip {
        font-size: temSize(24);
        color: #333;
        text-align: center;
        padding: temSize(40);
    }
    .list-left {
        width: temSize(320);
    }
}