


/*******************
*name：组件类(util)
*description:提供一些便捷写法,以自己名字简写来标注命名空间，方便后期整合
*authoer:tianyu.chen
*email:tianyu.chen@xiaobao100.com | cty8998@163.com
*
********************/
/*文字相关*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}/*文字超出省略*/
/*盒模型*/
.wh-100{width:100%;height:100%;}
/*遮罩*/
.mask{@include mask-black(70);}
// 浮动
.fl{float: left;}
.fr{float: right;}
//定位


.tb-wrap{display: table;}
.tb-center{
	display: table-cell;
	vertical-align: middle;
}

//clearfix
.clearfix{*zoom:1;}
.clearfix:after{display:table;clear:both;content:'';}