//#
//# author:tianyu.chen
//# email: tainyu.chen@xiaobao100.com | cty8998@163.com
//# description: 通用变量整合
//#
//###########################################################

$font-family-base:san francisco,Roboto,"Droid Sans Fallback","PingFang","STHeiti",Arial,Tahoma,sans-serif; //基础字体

$img-poz:no-repeat; //图片不重复
$img-pozC:no-repeat center center; //图片不重复+定位方式
$img-pozT:no-repeat center top; //图片不重复+定位方式
$img-pozB:no-repeat center bottom; //图片不重复+定位方式